.accessibility-btn{
    position: fixed;        /* REQUIRED */
    right: 0.2rem; 
    background-color: #bfbf8e;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    width: 3rem;
    top: 20%;          
    transform: translateY(-50%);
    z-index: 9999;
}
